@using CSharpProjectWAccounts.Models;
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Content/JavaScript.js"></script>
@{
    ViewBag.Title = "Add Recipe";
}

<div class="container text-center">
    <h2 class="p-3">@ViewBag.Message</h2>

    <div class="row form-group">
        @using (Html.BeginForm())
    {
        var GoToGrocery = new GetSelectListItem();

        <label for="Name">
            Name Your Recipe
            <input class="form-control" type="text" name="Name" placeholder="Name Your Recipe" />
        </label>
        <label for="Description">
            Describe Recipe
            <input class="form-control" type="text" name="Description" placeholder="Recipe Directions" />
        </label>
        <h5>Add Meat?</h5>
        <input type="checkbox" class="check_meat" />
        <span>Yes</span>
        <div class="p-3">
            <div id="meat">
                @Html.DropDownList("Beef", GoToGrocery.GetItemsByType("Beef"), "-- Select Beef --")
                @Html.DropDownList("Chicken", GoToGrocery.GetItemsByType("Chicken"), "-- Select Chicken --")
                @Html.DropDownList("Pork", GoToGrocery.GetItemsByType("Pork"), "-- Select Pork --")
                @Html.DropDownList("Other", GoToGrocery.GetItemsByType("Other"), "-- Select Other --")
            </div>
        </div>

        <h5>Add Vegetables?</h5>
        <input type="checkbox" class="check_veges" />
        <span>Yes</span>
        <div class="p-3">
            <div id="veges">
                @Html.DropDownList("Vegetable", GoToGrocery.GetItemsByType("Vegetable"), "-- Select Vegetables --")
                @Html.DropDownList("Vegetable1", GoToGrocery.GetItemsByType("Vegetable"), "-- Select Vegetables --")
                @Html.DropDownList("Vegetable2", GoToGrocery.GetItemsByType("Vegetable"), "-- Select Vegetables --")
                @Html.DropDownList("Vegetable3", GoToGrocery.GetItemsByType("Vegetable"), "-- Select Vegetables --")
            </div>
        </div>
        <h5>Add Other Ingredients?</h5>
        <input type="checkbox" class="check_other" />
        <span>Yes</span>
        <div class="p-3">
            <div id="other">
                @Html.DropDownList("Ingredient", GoToGrocery.GetItemsByType("Ingredient"), "-- Select Ingredient --")
                @Html.DropDownList("Ingredients", GoToGrocery.GetItemsByType("Ingredient"), "-- Select Ingredient --")
                @Html.DropDownList("Grain", GoToGrocery.GetItemsByType("Grain"), "-- Select Grain --")
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
}
    </div>
</div>