@model CSharpProjectWAccounts.Models.Items[]
@{
    ViewBag.Title = "Meats";
    ViewBag.ShoppingCart = true;
}
<div class="container text-center">
    <h2>@ViewBag.Title</h2>
    <p>@ViewBag.Message</p>
    @using (Html.BeginForm())
    {
    <div class="row bg-red">
        <h3>Beef</h3>
        @foreach (var meatType in Model.Where(m => m.Type == "Cow"))
        {
            <div class="form-group">
                <div class="col-md-2 h-2">
                    <h4>@meatType.ItemName</h4>
                    <img src="/Images/@meatType.CoverImageFileName" alt="@meatType.ItemName" class="h-5 image-responsive" />
                    @if (meatType.Quantity > 0)
    {
                <h3>$@meatType.Price.00</h3>
                <p class="mb-5"><bold>@meatType.Description</bold></p>
                <button type="submit" class="btn btn-primary auto" name="Item" value="@meatType.Id">Add to Cart</button>
}
else
{
                <h3>$@meatType.Price.00</h3>
                <p class="mb-5"><bold>@meatType.Description</bold></p>
                <h5>OUT OF STOCK</h5>
}
                   
                </div>
            </div>
         }
    </div>
    <div class="row bg-lightgreen">
        <h3>Pork</h3>
        @foreach (var meatType in Model.Where(m => m.Type == "Pig"))
        {
            <div class="form-group">
                <div class="col-md-2 h-2">
                    <h4>@meatType.ItemName</h4>
                    <img src="/Images/@meatType.CoverImageFileName" alt="@meatType.ItemName" class="h-5 image-responsive" />
                    @if (meatType.Quantity > 0)
    {
                <h3>$@meatType.Price.00</h3>
                <p class="mb-5"><bold>@meatType.Description</bold></p>
                <button type="submit" class="btn btn-primary auto" name="Item" value="@meatType.Id">Add to Cart</button>
}
else
{
                <h3>$@meatType.Price.00</h3>
                <p class="mb-5"><bold>@meatType.Description</bold></p>
                <h5>OUT OF STOCK</h5>
}
                </div>
            </div>
            }
        </div>
        <div class="row bg-lightgrey">
            <h3>Chicken</h3>
                @foreach (var meatType in Model.Where(m => m.Type == "Chicken"))
                {
                    <div class="form-group">
                        <div class="col-md-2 h-2">
                            <h4>@meatType.ItemName</h4>
                            <img src="/Images/@meatType.CoverImageFileName" alt="@meatType.ItemName" class="h-5 image-responsive" />
                            @if (meatType.Quantity > 0)
    {
                        <h3>$@meatType.Price.00</h3>
                        <p class="mb-5"><bold>@meatType.Description</bold></p>
                        <button type="submit" class="btn btn-primary auto" name="Item" value="@meatType.Id">Add to Cart</button>
}
else
{
                        <h3>$@meatType.Price.00</h3>
                        <p class="mb-5"><bold>@meatType.Description</bold></p>
                        <h5>OUT OF STOCK</h5>
}
                        </div>

                    </div>
                 }
        </div>
        <div class="row bg-red">
            <h3>Fish</h3>
                @foreach (var meatType in Model.Where(m => m.Type == "Fish"))
                {
                <div class="form-group">
                    <div class="col-md-2 h-2">
                        <h4>@meatType.ItemName</h4>
                        <img src="/Images/@meatType.CoverImageFileName" alt="@meatType.ItemName" class="h-5 image-responsive" />
                        @if (meatType.Quantity > 0)
                        {
                    <h3>$@meatType.Price.00</h3>
                    <p class="mb-5"><bold>@meatType.Description</bold></p>
                    <button type="submit" class="btn btn-primary auto" name="Item" value="@meatType.Id">Add to Cart</button>
                                    }
                                    else
                                    {
                        <h3>$@meatType.Price.00 </h3>

                          <p class="mb-5"><bold>@meatType.Description</bold></p>
                        <h5>OUT OF STOCK</h5>
                            }
                    </div>
                </div>
                }
                    </div>
        <div class="row bg-lightgreen">
            <h3>Turkey</h3>
                @foreach (var meatType in Model.Where(m => m.Type == "Turkey"))
                {
                <div class="form-group">
                    <div class="col-md-2 h-2">
                        <h4>@meatType.ItemName</h4>
                        <img src="/Images/@meatType.CoverImageFileName" alt="@meatType.ItemName" class="h-5 image-responsive" />
                        @if (meatType.Quantity > 0)
                        {
                    <h3>$@meatType.Price.00</h3>
                    <p class="mb-5"><bold>@meatType.Description</bold></p>
                    <button type="submit" class="btn btn-primary auto" name="Item" value="@meatType.Id">Add to Cart</button>
                                    }
                                    else
                                    {
                        <h3>$@meatType.Price.00 </h3>
                          <p class="mb-5"><bold>@meatType.Description</bold></p>
                        <h5>OUT OF STOCK</h5>
                            }
                    </div>
                </div>
                }
                    </div>
}
    </div>