@using CSharpProjectWAccounts.Models;
@{
    ViewBag.Title = "Remove Items";
}


<div class="container text-center">
    <h2 class="p-3">@ViewBag.Message</h2>
    <div class="row form-group">
        @using (var inventory = new GroceryContext())
                    {
                        var goToGrocery = new GetSelectListItem();
                        using (Html.BeginForm())
                        {
                <div class="p-3">
                    <h5>Pick a Meat To Remove</h5>
                    @Html.DropDownList("Beef", goToGrocery.GetItemsByType("Beef"), "-- Select Beef --")
                    @Html.DropDownList("Chicken", goToGrocery.GetItemsByType("Chicken"), "-- Select Chicken --")
                    @Html.DropDownList("Pork", goToGrocery.GetItemsByType("Pork"), "-- Select Pork --")
                    @Html.DropDownList("Other", goToGrocery.GetItemsByType("Other"), "-- Select Other --")
                </div>
                <div class="p-3">
                    <h5>Or Pick a Plant To Remove</h5>
                    @Html.DropDownList("Vegetable", goToGrocery.GetItemsByType("Vegetable"), "-- Select Vegetable --")
                    @Html.DropDownList("Fruit", goToGrocery.GetItemsByType("Fruit"), "-- Select Fruit --")
                    @Html.DropDownList("Ingredient", goToGrocery.GetItemsByType("Ingredient"), "-- Select Ingredient --")
                    @Html.DropDownList("Grain", goToGrocery.GetItemsByType("Grain"), "-- Select Grain --")
                </div>
                <button type="submit" class="btn btn-primary">Delete Item</button>
            }
        }
    </div>
</div>
