<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Grocery", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li></li>
                    <li>@Html.ActionLink("Plant", "Plant", "Inventory")</li>
                    <li>@Html.ActionLink("Meat", "Meat", "Inventory")</li>
                    <li>@Html.ActionLink("Baking", "Baking", "Inventory")</li>
                    <li>@Html.ActionLink("Recipes", "Recipes", "Inventory")</li>
                    @*checks to see who is logged in
            initializes context, makes instance of grocery items, turns into list for count method.
        establishes when to show shopping cart button*@
                    @using (var _groceryRepoItems = new GroceryContext())
    {
        //var user = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());
        //var user = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier);
        // above needs user.Value to function properly and user != null instead of ""
        var user = User.Identity.Name;
        if (user != "")
        {
            var groceryQuery = from gi in _groceryRepoItems.ShoppingCartItems select gi;
            var userShoppingCart = groceryQuery.Where(x => x.UserId == user).ToList();
            if (userShoppingCart.Count > 0 && ViewBag.ShoppingCart == true)
            {
                <li>
                    @Html.ActionLink("Go to Shopping Cart", "ShoppingCart", "Inventory", User, new { @class = "btn btn-default" })
                </li>
}
}
if (user == "admin@email.com")
{
                <li>
                    @Html.ActionLink("Add Items", "UpdateInventory", "Home", User, new { @class = "btn btn-primary" })
                </li>
                <li>
                    @Html.ActionLink("Edit Items", "ItemToEdit", "Home", User, new { @class = "btn btn-default" })
                </li>
                <li>
                    @Html.ActionLink("Remove Items", "RemoveItems", "Home", User, new { @class = "btn btn-warning" })
                </li>
}
}
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<div class="container body-content">*@
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">@Html.ActionLink("Contact", "Contact", "Home") &copy; @DateTime.Now.Year - Grocery @Html.ActionLink("About", "About", "Home")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
